<ion-header no-border>
    <ion-toolbar color="Light">
        <ion-title>
            Settings
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <div style="float: left; width: 100%;height: 20px; margin-top: 40px;">
        <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" [(ngModel)]="userName" placeholder="Name"></ion-input>
        </ion-item>
    </div>
    <div style="float: left; width: 100%;height: 20px; margin-top: 40px; padding-top: 30px;">
        <ion-button expand="full" (click)="saveName()">Save</ion-button>
    </div>

    <div style="float: left; width: 100%;height: 20px; margin-top: 40px;">
        <p> lat: {{infoData.lat}}</p>
        <p> lng: {{infoData.lng}}</p>
        <p> imei: {{imei}}</p>
    </div>
</ion-content>