<ion-header no-border>
    <ion-toolbar color="Light">
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>

    <ion-toolbar *ngIf="username !== ''">
        <ion-list style="padding: 0;">
            <ion-item [color]="activated? 'success' : 'danger'">
                <ion-label>
                    <ng-container *ngIf="activated">Activated</ng-container>
                    <ng-container *ngIf="!activated">Disabled</ng-container>
                </ion-label>
                <ion-toggle color="light" (click)="changeOnOff()"></ion-toggle>
            </ion-item>
        </ion-list>

        <div style="background-color: #fff; padding: 10px;">
            <ion-progress-bar value="1" *ngIf="!activated"></ion-progress-bar>
            <ion-progress-bar *ngIf="activated" type="indeterminate"></ion-progress-bar>
            <!--<img [src]="'assets/images/signal_sml.gif'"  style="width: 60%; margin-left: 20%;" />
            <img [src]="'assets/images/gifoff.png'" *ngIf="!activated" style="width: 60%; margin-left: 20%;" /> -->
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngIf="username === ''">
        <h1 style="color: #ccc; text-align: center; padding: 20px;">Complete the field name in Settings tab</h1>
    </div>

    <div id="cstm-main-content" style="display: none;">

        <ion-segment (ionChange)="changeSelectedZone($event)" value="map" style="background-color: #fff; border-top: 2px solid #333;">
            <ion-segment-button value="map">
                <ion-label>Map</ion-label>
            </ion-segment-button>
            <ion-segment-button value="places">
                <ion-label>Places</ion-label>
            </ion-segment-button>
        </ion-segment>


        <div style="width: 98%; margin-left: 1%;">
            <div id="sub_tab_map" style="width: 100%; height: 700px; max-height: 100%;">
                <div id="map_canvas" style="height: 56%; min-width: 200px; min-height: 200px;"> </div>
            </div>
            <div id="sub_tab_places" style="display: none;">
                <ng-container *ngFor="let place of listFinalPlaces">
                    <ion-button style="margin-top: 10px;" expand="full" *ngIf="place.isInside" (click)="presentModal(place)">{{ place.name + ' (INSIDE)' }}</ion-button>
                    <ion-button style="margin-top: 10px;" expand="full" *ngIf="!place.isInside" color="danger">{{ place.name + ' (NOT INSIDE)' }} </ion-button>
                </ng-container>
                <!--<ion-button style="margin-top: 10px;" expand="full" *ngFor="let place of listPlaces" (click)="presentModal(place)">{{ place.name }}</ion-button> -->
            </div>
        </div>


        <!-- <div>
            <h3>Testing Info:</h3>
            <p>Latitude: {{ latitude }}</p>
            <p>Longitude: {{ longitude }}</p>
            <p>Imei: {{ lastRequestInfo['imei'] }}</p>
        </div> -->
    </div>


</ion-content>