<div class="cstm-place" style="overflow-y: scroll;">
    <div class="cstm-header">
        <img [src]="'assets/images/back.jpg'" (click)="dismiss()" />
        <h1 class="cstm-title">Place</h1>
    </div>
    <div class="cstm-content">
        <h1 style="text-align: center;">{{place.name}}</h1>
        <p>
            {{place.description}}
        </p>

        <p *ngIf="result == 'error'" class="operation-error">
            Error
        </p>

        <p *ngIf="result == 'success'" class="operation-success">
            Success
        </p>

        <p *ngIf="result == ''" class="operation-grey">
            GREY
        </p>


        <ion-button color="secondary" style="margin-top: 10px;" expand="full" *ngFor="let option of place.options" (click)="clickOption(option)">{{ option.name }}</ion-button>

    </div>
</div>