.cstm-place {
    width: 100%;
    padding: 20px;
    float: left;
    .cstm-header {
        border-bottom: 1px solid #333;
        float: left;
        width: 100%;
        padding-bottom: 15px;
    }
    h1.cstm-title {
        width: 70%;
        margin-left: 2%;
        float: left;
        line-height: 2px;
        font-size: 30px;
    }
    img {
        max-width: 18%;
        height: 30px;
        float: left;
        margin-top: 5px;
    }
    .cstm-content {
        float: left;
        width: 100%;
    }
}

.operation-error {
    background-color: rgb(182, 22, 22);
    color: #fff;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.operation-success {
    background-color: rgb(23, 173, 86);
    color: #fff;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.operation-grey {
    background-color: #fff;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}